{% extends "base.html" %}
{% block content %}

<a href="{% url 'add' %}">Add Expense</a>
<table class="table table-bordered">
    <thead>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th>Image</th>
        <th>Operations</th>
    </thead>
    <tbody>
        {% if tracker %}
            <!-- Display search results -->
            {% for item in tracker %}
                <tr>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.date }}</td>
                    <td>
                        {% if item.receipts %}
                        <img src="{{ item.receipts.url }}" class="img-thumbnail" style="width:100px; cursor:pointer;" onclick="openImage('{{ item.receipts.url}}')">
                        {% else %}
                            No receipts
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update' item.id %}">✏ Edit</a>
                        <a href="{% url 'delete' item.id %}" onclick="return confirm('Are you sure ?');">❌Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <!-- If no search, show all expenses -->
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date }}</td>
                    <td>
                        {% if expense.receipts %}
                            <img src="{{ expense.receipts.url }}" class="img-thumbnail" style="width:100px; cursor:pointer;" onclick="openImage('{{ expense.receipts.url}}')">
                        {% else %}
                            No receipts
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update' expense.id %}">✏ Edit</a>
                        <a href="{% url 'delete' expense.id %}" onclick="return confirm('Are you sure ?');">❌Delete</a>
                    </td>
                </tr>
            {% endfor %}
            {% if not expenses %}
                <tr>
                    <td colspan="6">No expenses found.</td>
                </tr>
            {% endif %}
        {% endif %}
    
    </tbody>
    
</table>
<script>
  function openImage(imageSrc) {
      let newWindow = window.open("", "_blank", "width=600,height=600");
      newWindow.document.write(`<img src="${imageSrc}" style="width: 100%; height: auto;">`);
  }
  </script>
{% endblock content %}